# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#about-the-dependabotyml-file
version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    labels:
      - "automerge"
      - "dependabot"
    open-pull-requests-limit: 1
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    labels:
      - "automerge"
      - "dependabot"
    open-pull-requests-limit: 1
    versioning-strategy: increase
    groups:
      portabletext:
        patterns:
          - "@portabletext/*"
      sanity:
        patterns:
          - "@sanity/*"
          - "next-sanity"
          - "sanity"
