# https://github.com/repository-settings/app
_extends: .github
repository:
  name: sanity-typed
  description: Filling in all the typescript gaps in sanity (and more)!
  topics: sanity, sanity-io, types, typescript, cms, groq
  private: false
  has_discussions: true
labels:
  - name: "released on @alpha"
    color: "#1f883d"
    description: Automatically merges the PR if all status checks pass. Applied by semantic-release.
branches:
  - name: main
    protection:
      required_status_checks:
        contexts:
          - Build
          - Lint
          - Test (client)
          - Test (faker)
          - Test (groq)
          - Test (groq-js)
          - Test (test-utils)
          - Test (types)
          - Test (zod)
