# https://github.com/repository-settings/app
_extends: .github
repository:
  name: sanity-typed
  description: Monorepo for typing Sanity.io
  private: false
labels:
  - name: schema-builder
    color: "#f1dd35"
  - name: types
    color: "#3178c6"
branches:
  - name: main
    protection:
      required_status_checks:
        contexts:
          - Build
          - Lint
          - Test
