{
  "$schema": "http://json.schemastore.org/prettierrc",
  "pluginSearchDirs": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-sh",
    "@standard-configs/prettier-plugin"
  ],
  "quoteProps": "consistent",
  "importOrder": ["^@sanity-typed/(.*)$", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
