# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: "Checks"
on: pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v3.8.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - id: node-modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
      - if: steps.node-modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - run: |
          DRY_RUN=$(npx turbo run build --dry=json)
          HASH_CLIENT=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/client#build\")) | .hash")
          HASH_GROQ_JS=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/groq-js#build\")) | .hash")
          HASH_GROQ=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/groq#build\")) | .hash")
          HASH_TEST_UTILS=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/test-utils#build\")) | .hash")
          HASH_TYPES=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/types#build\")) | .hash")
          HASH_ZOD=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/zod#build\")) | .hash")
          echo "HASH_CLIENT=$HASH_CLIENT" >> $GITHUB_ENV
          echo "HASH_GROQ_JS=$HASH_GROQ_JS" >> $GITHUB_ENV
          echo "HASH_GROQ=$HASH_GROQ" >> $GITHUB_ENV
          echo "HASH_TEST_UTILS=$HASH_TEST_UTILS" >> $GITHUB_ENV
          echo "HASH_TYPES=$HASH_TYPES" >> $GITHUB_ENV
          echo "HASH_ZOD=$HASH_ZOD" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_CLIENT }}*
          key: turbo-cache-${{ env.HASH_CLIENT }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_GROQ_JS }}*
          key: turbo-cache-${{ env.HASH_GROQ_JS }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_GROQ }}*
          key: turbo-cache-${{ env.HASH_GROQ }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_TEST_UTILS }}*
          key: turbo-cache-${{ env.HASH_TEST_UTILS }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_TYPES }}*
          key: turbo-cache-${{ env.HASH_TYPES }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_ZOD }}*
          key: turbo-cache-${{ env.HASH_ZOD }}

      - env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: npm run build
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v3.8.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - id: node-modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
      - if: steps.node-modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: npm run lint
      - run: |
          if [[ $(git status --porcelain) != "" ]]; then
            git --no-pager diff --text HEAD
            exit 1
          fi
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v3.8.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - id: node-modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
      - if: steps.node-modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - id: cpu-cores
        uses: SimenB/github-actions-cpu-cores@v2
      - run: |
          JEST_CACHE_DIRECTORY=$(npx jest --color --showConfig | jq --raw-output ".configs[0].cacheDirectory")
          echo "JEST_CACHE_DIRECTORY=$JEST_CACHE_DIRECTORY" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          path: ${{ env.JEST_CACHE_DIRECTORY }}
          key: jest-cache-test

      - run: npm test -- --cache --max-workers ${{ steps.cpu-cores.outputs.count }}
