# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: "Checks"
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

concurrency: checks-${{ github.ref == 'refs/heads/main' && 'main' || github.event.pull_request.head.sha }}

jobs:
  install-node-modules:
    name: Install Node Modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4.0.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - id: node-modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
      - if: steps.node-modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
      - run: npm ls --package-lock-only
  build:
    name: Build
    needs: install-node-modules
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: actions/setup-node@v4.0.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - uses: actions/cache/restore@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          fail-on-cache-miss: true

      - run: |
          DRY_RUN=$(npx turbo run build --dry=json)
          HASH_CLIENT_MOCK=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/client-mock#build\")) | .hash")
          HASH_CLIENT=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/client#build\")) | .hash")
          HASH_EXAMPLE_APP=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/example-app#build\")) | .hash")
          HASH_EXAMPLE_STUDIO=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/example-studio#build\")) | .hash")
          HASH_FAKER=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/faker#build\")) | .hash")
          HASH_GROQ_JS=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/groq-js#build\")) | .hash")
          HASH_GROQ=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/groq#build\")) | .hash")
          HASH_NEXT_SANITY=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/next-sanity#build\")) | .hash")
          HASH_PREVIEW_KIT=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/preview-kit#build\")) | .hash")
          HASH_PT_TYPES=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@portabletext-typed/types#build\")) | .hash")
          HASH_REACT=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@portabletext-typed/react#build\")) | .hash")
          HASH_TO_HTML=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@portabletext-typed/to-html#build\")) | .hash")
          HASH_TYPES=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/types#build\")) | .hash")
          HASH_ZOD=$(echo $DRY_RUN | jq --raw-output ".tasks[] | select(.taskId | contains(\"@sanity-typed/zod#build\")) | .hash")
          echo "HASH_CLIENT_MOCK=$HASH_CLIENT_MOCK" >> $GITHUB_ENV
          echo "HASH_CLIENT=$HASH_CLIENT" >> $GITHUB_ENV
          echo "HASH_EXAMPLE_APP=$HASH_EXAMPLE_APP" >> $GITHUB_ENV
          echo "HASH_EXAMPLE_STUDIO=$HASH_EXAMPLE_STUDIO" >> $GITHUB_ENV
          echo "HASH_FAKER=$HASH_FAKER" >> $GITHUB_ENV
          echo "HASH_GROQ_JS=$HASH_GROQ_JS" >> $GITHUB_ENV
          echo "HASH_GROQ=$HASH_GROQ" >> $GITHUB_ENV
          echo "HASH_NEXT_SANITY=$HASH_NEXT_SANITY" >> $GITHUB_ENV
          echo "HASH_PREVIEW_KIT=$HASH_PREVIEW_KIT" >> $GITHUB_ENV
          echo "HASH_PT_TYPES=$HASH_PT_TYPES" >> $GITHUB_ENV
          echo "HASH_REACT=$HASH_REACT" >> $GITHUB_ENV
          echo "HASH_TO_HTML=$HASH_TO_HTML" >> $GITHUB_ENV
          echo "HASH_TYPES=$HASH_TYPES" >> $GITHUB_ENV
          echo "HASH_ZOD=$HASH_ZOD" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_CLIENT_MOCK }}*
          key: turbo-cache-${{ env.HASH_CLIENT_MOCK }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_CLIENT }}*
          key: turbo-cache-${{ env.HASH_CLIENT }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_EXAMPLE_APP }}*
          key: turbo-cache-${{ env.HASH_EXAMPLE_APP }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_EXAMPLE_STUDIO }}*
          key: turbo-cache-${{ env.HASH_EXAMPLE_STUDIO }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_FAKER }}*
          key: turbo-cache-${{ env.HASH_FAKER }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_GROQ_JS }}*
          key: turbo-cache-${{ env.HASH_GROQ_JS }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_GROQ }}*
          key: turbo-cache-${{ env.HASH_GROQ }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_NEXT_SANITY }}*
          key: turbo-cache-${{ env.HASH_NEXT_SANITY }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_PREVIEW_KIT }}*
          key: turbo-cache-${{ env.HASH_PREVIEW_KIT }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_PT_TYPES }}*
          key: turbo-cache-${{ env.HASH_PT_TYPES }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_REACT }}*
          key: turbo-cache-${{ env.HASH_REACT }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_TO_HTML }}*
          key: turbo-cache-${{ env.HASH_TO_HTML }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_TYPES }}*
          key: turbo-cache-${{ env.HASH_TYPES }}
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo/${{ env.HASH_ZOD }}*
          key: turbo-cache-${{ env.HASH_ZOD }}

      - env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: npm run build

      - run: npm config set workspaces-update false
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx multi-semantic-release --ignore-private-packages
  lint:
    name: Lint
    needs: install-node-modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4.0.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - uses: actions/cache/restore@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          fail-on-cache-miss: true

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/prettier/.prettier-cache
          key: prettier-${{ github.run_id }}
          restore-keys: |
            prettier-

      - run: npm run lint
      - run: |
          if [[ $(git status --porcelain) != "" ]]; then
            git --no-pager diff --color --text HEAD
            exit 1
          fi
  packages:
    name: Packages
    needs: install-node-modules
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.set-packages.outputs.packages }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4.0.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - uses: actions/cache/restore@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          fail-on-cache-miss: true

      - id: set-packages
        run: |
          echo "packages=$(npx turbo run build --dry=json | jq --compact-output '.tasks | map(.taskId | sub("@portabletext-typed/types"; "pt-types") | sub("@portabletext-typed/"; "") | sub("@sanity-typed/"; "") | sub("#build"; ""))')" >> $GITHUB_OUTPUT
  test-package:
    name: Test
    needs: [install-node-modules, packages]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.packages.outputs.packages) }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4.0.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - uses: actions/cache/restore@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          fail-on-cache-miss: true

      - id: cpu-cores
        uses: SimenB/github-actions-cpu-cores@v2
      - run: |
          JEST_CACHE_DIRECTORY=$(npx jest --color --showConfig | jq --raw-output ".configs[0].cacheDirectory")
          echo "JEST_CACHE_DIRECTORY=$JEST_CACHE_DIRECTORY" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          path: ${{ env.JEST_CACHE_DIRECTORY }}
          key: jest-${{ matrix.package }}-${{ github.run_id }}
          restore-keys: |
            jest-${{ matrix.package }}-
            jest-

      - run: npm test -- --max-workers ${{ steps.cpu-cores.outputs.count }} -- ${{ matrix.package }}/src
  test:
    name: Test
    needs: test-package
    runs-on: ubuntu-latest
    steps:
      - run: echo done
