# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: "Checks"
on: pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-node@v3.8.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - run: npm ci

      - run: npm run build
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-node@v3.8.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - run: npm ci
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: npm run lint
      - run: |
          if [[ $(git status --porcelain) != "" ]]; then
            git --no-pager diff --text HEAD
            exit 1
          fi
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-node@v3.8.1
        with:
          node-version-file: "package.json"
          cache: "npm"
      - run: npm ci

      - run: npm test
